.App {
  --green-bg-color: rgba(200, 250, 200, 1);
  --red-bg-color: rgba(250, 200, 200, 0.6);
  --blue-bg-color: rgb(203, 244, 250);
  --blue-bg-colorLight: rgba(221, 250, 254, 0.7);
  --red-color: rgb(249, 117, 117);
  --green-color: rgb(4, 181, 4);
  --headWrapper-height: 7vh;
  --dropWrapper-height: 46.4vh;
  --dragWrapper-height: 33vh;
  --dropItem-height: 23vh;
  --white-bg-color: white;
  --white-bg-colorImg1: rgba(250, 250, 250, 1);
  --bg-color-inlog: rgb(210, 6, 6);

  box-sizing: border-box;
}

.App-header {
}
.questionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white-bg-color);
  height: 92vh;
}

.hoera {
  /* animation: blinkingBackground 0.5s infinite; */
}
.hoera.dndcontainer {
  /* animation: blinkingBackground 0.5s infinite; */
  background-color: var(--green-bg-color);
}
@keyframes blinkingBackground {
  0% {
    background-color: rgb(165, 255, 108);
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: rgb(165, 255, 108);
  }
}

.headWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 6px 8px 6px;
  height: var(--headWrapper-height);
}
.title {
  font-size: 6.5vw;
  padding: 0px 8px;
  border-radius: 5px;
  width: 50vw;
  overflow: hidden;
  text-overflow: clip;
}
.nonTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 45vw;
}
.points {
  display: flex;
  width: 21vw;
  justify-content: space-between;
  font-size: 4.4vw;
}
.percentage {
  color: blue;
}
.negNumber {
  color: var(--red-color);
  padding-right: 5px;
}
.posNumber {
  color: var(--green-color);
}
.inlogIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-inlog);
  color: white;
  border-radius: 1.5vh;
  width: 2.4vh;
  height: 2.4vh;
  font-size: 1.4vh;
  cursor: pointer;
}
.menuIcon {
  font-size: 4vh;
  cursor: pointer;
  padding-bottom: 0.3vh;
}

.dropWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  height: var(--dropWrapper-height);
  position: relative;
  z-index: 0;
  /* border: 4px solid red; */
}
.dropWrapper_cat_img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--dropWrapper-height);
  position: relative;
  z-index: 0;
}

.imageOne.cat_img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--dropWrapper-height);
  width: 100vw;
  /* border: 3px solid orange; */
}
.canvasLines {
  position: absolute;
  z-index: 2;
}
.imageOne__img {
  max-width: 100%;
  max-height: 100%;
  /* border: 2px solid purple; */
  z-index: 1;
}

.imageOne.cat_img4 {
  display: none;
}
.imageOne {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageOne__imgAndRaster {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* .canvasRaster {
  z-index: 14;
  position: absolute;
  width: 100%;
  /* height: 100%; */
/* border: 3px solid green; */
/* } */
.dropItem {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-size: 0;
  border-radius: 5px;
  box-sizing: border-box;
  height: var(--dropItem-height);
  /* margin: 4px; */
}
.dropItem.cat_img1 {
  position: absolute;
  height: 5.5vh;
  width: 35vw;
  border: 1px solid black;
  transform: translate(-53%, -55%);
  background-color: var(--white-bg-colorImg1);
}
.dropItem.cat_img4 {
  border: 3px solid white;
}
.dropWord {
  padding: 0px 8px 5px 8px;
  border-radius: 3px;
  z-index: 100;
  /* border: 1px solid purple; */
}

.dropImage {
  z-index: -1;
  position: absolute;
  /* flex-shrink: 1; */
  min-width: 100%;
  min-height: 100%;
  max-width: 110%;
  max-height: 120%;
}
.dropImage.cat_img1 {
  display: none;
}
.photoClickedItem {
  width: 100%;
  height: 100%;
}

.dragWrapper {
  height: var(--dragWrapper-height);
  width: 55vw;

  display: flex;
  flex-direction: column;
  /* justify-content:; */
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}
.dragItem {
  margin-top: 2.3vh;
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: move;
  background: var(--blue-bg-color);
  height: 7vh;
  touch-action: none;
  z-index: 5;
}

.buttons button {
  position: absolute;
  padding: 2vh 3vw;
  bottom: 2px;
  font-size: 1.7vh;
  cursor: pointer;
}
.buttons button:nth-child(1) {
  left: 2px;
}
.buttons button:nth-child(2) {
  right: 2px;
}
/* CMS */
.buttons button:nth-child(3) {
  bottom: 13vh;
  left: 0.5vw;
  /* top: 0px;
  left: 42.5vw; */
  height: 0.3vh;
}

.cms_image {
  position: absolute;
  padding: 3vw 6vw;
  box-sizing: border-box;
  border-radius: 5vw;
  border: 2px solid lightgray;
  top: 56vh;
  left: 3vw;
  background-color: white;
  width: 94vw;
  height: 44vh;
  z-index: 12;
  box-shadow: rgb(43, 43, 44) 0px 10px 72px;
}
.cms_image img {
  border: 1px solid black;
}

.menuWrapper,
.inlogWrapper {
  position: absolute;
  padding: 3vw 6vw;
  box-sizing: border-box;
  border-radius: 5vw;
  border: 2px solid lightgray;
  top: 9vh;
  left: 4vw;
  background-color: white;
  width: 91vw;
  height: 82vh;
  z-index: 12;
  box-shadow: rgb(43, 43, 44) 0px 10px 72px;
}
.menuWrapper.false {
  display: none;
}
.inlogWrapper div {
  border-bottom: 1px solid lightgray;
}
.inlogWrapper div:nth-of-type(1) {
  border-top: 1px solid lightgray;
}
.inlogWrapper.false {
  display: none;
}
.inlogHeader {
  display: flex;
  /* background-color: aqua; */
}
.inlogHeader div {
}
.inlogHeader div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-inlog);
  width: 7vw;
  height: 7vw;
  font-size: 5vw;
  color: white;
}
.inlogHeader div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  padding: 0px 6vw;
}
